
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #3d3d3d;
}

.section .title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    padding-top: 20px;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section .title span {
    color: crimson;
}

.card {
    background-color: rgb(245, 255, 250);
    padding-top: 20px;
}

.card .card-img-top {
    margin-left: 3rem;
    width: 300px;
    height: 220px;
}

.card .card-title {
    text-align: justify;
    font-size: large;
    padding-left: 12rem;
}

.card .btn-primary {
    margin-left: 10rem;
}
